z-monstermodal{
    display:flex;
}
.z-monstermodal{
    background-color: var(--window_bg);
    color: var(--text_l);
    width:35%;
    padding:1rem;
}
.z-img{
    display:flex;
    justify-content:center;
    align-items:center;
}
.z-icon{
    display:inline-block;
}
.z-user{
    display:inline-block;
}
.z-lotbutton{
    width:95%;
    padding:1rem;
    background-color: var(--main_btn);
    color: var(--main_btn_text);
    border:none;
    border-radius:10px;
    font-size:1.2rem;
}
.z-lotbutton:hover{
    background-color: var(--main_btn_hover);
    color: var(--text_l);
    cursor:pointer;
}
.z-testimonial{
    width:95%;
    border-radius:10px;
    padding:1rem;
}
.z-submit{
    display:block;
    width:95%;
    padding:1rem;
    background-color: var(--main_btn);
    color: var(--main_btn_text);
    border:none;
    border-radius:10px;
    font-size:1.2rem;
}
.z-submit:hover{
    background-color: var(--main_btn_hover);
    color: var(--text_l);
    cursor:pointer;
}