/* WELCOME MODAL */
#welcomeModal{
    display:none;
    flex-direction:column;
    position: absolute;
    top: 3rem;
    left:0;
    right:0;
    text-align: center;
    z-index: 99;
    background-color: var(--window_bg);
    color: var(--text_l);
    width:600px;
    padding:1.5rem;
    margin:0 auto;
    justify-content:center;
    align-items:center; 
    border-radius: 20px;
    box-shadow: 0px 0px 10px #fff;

    /* transition: 0.5s all; */
}
#welcomeModal > h2{
    margin-bottom: .5rem;
}
#welcomeModal > h3{
    margin-top: 0;
    margin-bottom: 0;
}
#welcomeModal > button{
    padding:.5rem 1rem;
    color:var(--text_d);
    background-color: var(--main_btn);
    font-weight: bolder;
    border: 1px solid var(--main_bg_wh);
    border-radius: 20px;
}
#welcomeModal > button:hover{
    cursor: pointer;
    background-color: var(--main_btn_hover);
    color:var(--text_l);
    transition: all .5s;
}
/* WELCOME MODAL END */
/* .z-monstermodal{
    display:flex;
    display:none;
    flex-direction:column;
    position: absolute;
    top: 100px;
    background-color: rgba(56, 56, 56, 0.7);
    color: var(--text_l);
    width: 70vw;
    height: 85vh;
    padding:1rem;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
} */
.z-monstermodal{
    display:none;
    flex-direction:column;
    position: absolute;
    top: 3rem;
    left:0;
    right:0;
    height: 90vh;
    text-align: center;
    z-index: 99;
    background-color: var(--window_bg);
    color: var(--text_l);
    width:700px;
    padding:1.5rem;
    margin:0 auto;
    justify-content:center;
    align-items:center; 
    border-radius: 20px;
    box-shadow: 0px 0px 10px #fff;
}
.z-close, #welcomeclose{
    width:100%;
    text-align: right;
}
.closeBtnImg, .closeBtnImg_1{
    filter: brightness(3.0);
    transition: .25s all;
}
.closeBtnImg:hover{
    filter: brightness(5.0);
}
h2.siteName{
    text-align: center;
    margin: 1rem auto;
}
div.containerScroll{
    overflow: auto;
    border-radius: 20px;
    margin:0;
    padding: 1rem;
    margin-top: 1rem;
    background-color: var(--modal_inner_bg);
    -ms-overflow-style: none;
    scrollbar-width: none;
}
div.containerScroll::-webkit-scrollbar { 
    display: none;
    width: 0px;
}
.z-img{
    display:flex;
    justify-content:center;
    align-items:center;
}
img.z-img-pic{
    width: 200px;
    height: auto;
    max-width: 100%;
}
div.z-activities{
    display: flex;
    justify-content: center;
}
.z-icon{
    display:inline-block;
}
li.z-reviewer > p{
    margin: .25rem;
}
.z-user{
    display:inline-block;
}
.z-lotbutton{
    width:30%;
    padding:1rem;
    background-color: var(--main_btn);
    color: var(--main_btn_text);
    border:none;
    border-radius:10px;
    font-size:1.2rem;
    margin-top:1rem;
}
.z-lotbutton:hover{
    background-color: var(--main_btn_hover);
    color: var(--text_l);
    cursor:pointer;
}
input.name_input{
    border: none;
    border-radius:10px;
    text-align: center;
}
.z-testimonial{
    border: none;
    border-radius:10px;
    width:100%;
    text-align: center;
}
li.z-reviewer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: .75rem;
}
form.review_post{
    display: flex;
    justify-content: space-between;
}
.z-submit{
    padding:.5rem;
    background-color: var(--main_btn);
    color: var(--main_btn_text);
    border:none;
    border-radius:10px;
}
.z-submit:hover{
    background-color: var(--main_btn_hover);
    color: var(--text_l);
    cursor:pointer;
}

.z-img{
    display:flex;
    justify-content:center;
    align-items:center;
}
.z-icon{
    display:inline-block;
}
.z-user{
    display:inline-block;
}
.z-lotbutton{
    width:95%;
}
@media screen and (max-width:650px){
    #welcomeModal{
        display:none;
        top: 2rem;
        width:90%;
        padding:1rem;
        margin:0 auto;
        font-size: smaller;
    }
    img#welcomeLogo{
        width:90px;
        height:90px;
    }
    .z-monstermodal{
        width:95vw;
    }
}
@media screen and (max-width:400px){

    /* .z-monstermodal{
        display:flex;
        display:none;
        flex-direction: column;
        background-color: var(--window_bg);
        color: var(--text_l);
        width:35%;
        padding:1rem;
    } */
    .z-img{
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .z-icon{
        display:inline-block;
    }
    .z-user{
        display:inline-block;
    }
    .z-lotbutton{
        width:95%;
        padding:1rem;
        background-color: var(--main_btn);
        color: var(--main_btn_text);
        border:none;
        border-radius:10px;
        font-size:1.2rem;
    }
    .z-lotbutton:hover{
        background-color: var(--main_btn_hover);
        color: var(--text_l);
        cursor:pointer;
    }
    .z-testimonial{
        width:95%;
        border-radius:10px;
        padding:1rem;
    }
    .z-submit{
        display:block;
        width:95%;
        padding:1rem;
        background-color: var(--main_btn);
        color: var(--main_btn_text);
        border:none;
        border-radius:10px;
        font-size:1.2rem;
    }
    .z-submit:hover{
        background-color: var(--main_btn_hover);
        color: var(--text_l);
        cursor:pointer;
    }
    /* .z-monstermodal{
        display:flex;
    }
    .z-monstermodal{
        background-color: var(--window_bg);
        color: var(--text_l);
        width:90%;
        padding:1rem;
    } */
    .z-img{
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .z-icon{
        display:inline-block;
    }
    .z-user{
        display:inline-block;
    }
    .z-lotbutton{
        width:95%;
    }
}